@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(67, 67, 67);
    color: #ffffff;
    padding: 20px;
    font-family: "Spline Sans Mono", monospace;
}
a{
    color: bisque;
    font-size: large;
}
.crt{
    margin-top: 20px;
    font-size: xx-large;
    margin-bottom: 20px;
    font-weight: bold;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    padding: 10px;
    background-color: #d9cda3;
    border-radius: 10px;
}
form>input{
    padding: 10px;
    border-radius: 10px;
    font-family: "Spline Sans Mono", monospace;
}
#crtbtn{
    width: 200px;
    font-size: large;
    font-weight: bold;
}

@media (max-width: 750px) {
    .crt{
        font-size: x-large;
        margin-bottom: 15px;
    }
    a{
        font-size: medium;
    }
    form{
        width: 380px;
    }
    #crtbtn{
        font-size: medium;
        width: 150px;
    }
}
@media (max-width: 440px) {
    .crt{
        font-size: large;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    a{
        font-size: small;
    }
    form{
        width: 250px;
    }
    form>input{
        padding: 5px;
    }
    #crtbtn{
        font-size: small;
        width: 110px;
    }
}
@media (max-width: 300px) {
    .crt{
        font-size: medium;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    a{
        font-size: x-small;
    }
    form{
        width: 200px;
    }
    form>input{
        padding: 5px;
        font-size: small;
    }
    #crtbtn{
        font-size: x-small;
        width: 82px;
    }
}
@media (max-width: 260px) {
    .crt{
        font-size: medium;
        margin-bottom: 7px;
        margin-top: 7px;
    }
    a{
        font-size: xx-small;
    }
    form{
        width: 150px;
        gap: 5px;
    }
    form>input{
        padding: 5px;
        font-size: x-small;
    }
    #crtbtn{
        font-size: xx-small;
        width: 80px;
    }
}