
.bodyCreateUser {
    background-color: rgb(81, 82, 83);
    color: #ffffff;
    padding: 20px;
    font-family: "Spline Sans Mono", monospace;
    padding: 20px;
}

.toLoginLink {
    color: bisque;
    font-size: large;
}

.crt {
    margin-top: 20px;
    font-size: xx-large;
    margin-bottom: 20px;
    font-weight: bold;
}

.createUserForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    padding: 10px;
    background-color: #d9cda3;
    border-radius: 10px;
}
.verifyOtp{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.createUserFormInput {
    padding: 10px;
    border-radius: 10px;
    font-family: "Spline Sans Mono", monospace;
}

.crtbtn {
    width: 150px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width: 750px) {
    .crt {
        font-size: x-large;
        margin-bottom: 15px;
    }
    .toLoginLink {
        font-size: medium;
    }
    .createUserForm {
        width: 380px;
    }
    .crtbtn {
        font-size: medium;
        width: 120px;
    }
}

@media (max-width: 440px) {
    .crt {
        font-size: large;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .toLoginLink {
        font-size: small;
    }
    .createUserForm {
        width: 250px;
    }
    .createUserFormInput {
        padding: 5px;
    }
    .crtbtn {
        font-size: small;
        width: 100px;
    }
}

@media (max-width: 300px) {
    .crt {
        font-size: medium;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .toLoginLink {
        font-size: x-small;
    }
    .createUserForm {
        width: 200px;
    }
    .createUserFormInput {
        padding: 5px;
        font-size: small;
    }
    .crtbtn {
        font-size: x-small;
        width: 82px;
    }
}

@media (max-width: 260px) {
    .crt {
        font-size: medium;
        margin-bottom: 7px;
        margin-top: 7px;
    }
    .toLoginLink {
        font-size: xx-small;
    }
    .createUserForm {
        width: 150px;
        gap: 5px;
    }
    .createUserFormInput {
        padding: 5px;
        font-size: x-small;
    }
    .crtbtn {
        font-size: xx-small;
        width: 80px;
    }
}
