.editmain{
    min-height: 100%;
    background-color: #4f627d;
    padding: 25px;
}
.linkToNotes {
    font-family: "Spline Sans Mono", monospace;
    color: #ffed75;
    text-decoration: none;
    background-color: #4a596f;
    padding: 5px;
    border-radius: 5px;
    font-size: large;
    border: #c1ad2e 2px solid;
}
.linkToNotes:hover {
    background-color: #c1ad2e;
    font-weight: 700;
    color: #4a596f;
}
.editForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px;
    background-color: #4a596f;
    padding: 20px;
    border-radius: 20px;
}
/* .editForm input{
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #58596a;
    color: #ffed75;
} */
.editForm textarea{
    resize: none;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}
.editForm input[type="submit"]{
    width: 200px;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

@media (max-width: 768px) {
    .editForm{
        margin: 10px;
    }
    .editForm input[type="submit"]{
        width: 150px;
    }
}
@media (max-width: 600px) {
    .editForm{
        margin: 10px;
        padding: 10px;
    }
    .editForm textarea{
        width: 85%;
        padding: 10px;
        margin-bottom: 15px;
    }
    .editForm input[type="submit"]{
        width: 150px;
    }
    .linkToNotes {
        padding: 5px;
        border-radius: 5px;
        font-size: medium;
    }
}
@media (max-width: 400px) {
    .editForm{
        margin: 7px;
        padding: 7px;
    }
    .editForm textarea{
        width: 90%;
        padding: 7px;
        margin-bottom: 10px;
    }
    .editForm input[type="submit"]{
        width: 100px;
    }
    .linkToNotes {
        padding: 3px;
        border-radius: 5px;
        font-size: small;
        margin-bottom: 3px;
    }
}